*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

/* --------------------------------------------- */
/* BODY */
/* --------------------------------------------- */

body {
	padding: 10px 20px;
	margin: 0;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;
	grid-template-areas:
		"aside header"
		"aside content"
		"aside footer";
	gap: 20px;
	overflow: hidden;
}

/* --------------------------------------------- */
/* HEADER */
/* --------------------------------------------- */
.site-header {
	margin: 10px;
	grid-area: header;
}

.header-nav ul {
	padding-right: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	gap: 60px;
	list-style-type: none;
}
/* .header-nav ul li {
	/* list-style-type: symbols("|"); */
/* list-style-type: none; */
/* }  */

/* --------------------------------------------- */
/* MAIN */
/*---------------------------------------------- */

.content {
	grid-area: content;
}

main {
	overflow-y: auto;
}

/* --------------------------------------------- */
/* ASIDE */
/*---------------------------------------------- */

.profile {
	display: flex;
	height: inherit;
	flex-direction: column;
	/* align-items: center; */
	justify-content: start;
	gap: 5px;
	overflow: hidden;
	grid-area: aside;
}

.profile header {
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	/* align-content: baseline; */
	justify-content: center;
	gap: 20px;
	max-height: 10vh;
}

/* .profile header span {
	max-width: 20px;
	max-width: 20px;
	display: inline-block;
} */

.profile header p::before {
	/* content: "•";
	margin-right: 8px; */

	content: "";
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin-right: 8px;
	background: currentColor;
}
/* .profile header p::before {
	content: url("../assets/img/dot-single-svgrepo-com.svg");
	width: 5px;
	height: 5px;
} */
.profile img {
	width: 100%;
	height: auto;
	/* height: 100%; */
	object-fit: contain;
	/* object-fit: cover; */
	/* object-position: left top; */
	display: block;
}

/* --------------------------------------------- */
/* FOOTER */
/*---------------------------------------------- */

footer {
	grid-area: footer;
}
