*,
*::before,
*::after {
	box-sizing: border-box;
}

/* --------------------------------------------- */
/* BODY */
/* --------------------------------------------- */

body {
	padding: 10px 20px;
	margin: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: stretch;
	gap: 20px;
	overflow: hidden;
}

/* --------------------------------------------- */
/* HEADER */
/* --------------------------------------------- */
header {
	margin: 10px;
}

.header-nav ul {
	padding-right: 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: end;
	gap: 60px;
}

/* --------------------------------------------- */
/* MAIN */
/*---------------------------------------------- */

.content {
	display: grid;
	grid-template-columns: 1fr 2fr;
	height: calc(100vh - 80px);
	/* flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between; */
	/* width: 100vw; */
}

/* --------------------------------------------- */
/* ASIDE */
/*---------------------------------------------- */

.profile {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: start;
	gap: 5px;
	overflow: hidden;
}

.profile img {
	width: 95%;
	max-height: 80vh;
	display: block;
	object-fit: cover;
	/* height: auto; */
	margin: 0 auto;
	transform: scale(0.9); /* then visually scale from there */
	transform-origin: center; /* or 'top center' if you want it anchored at the top */
}

.profile header {
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-height: 10vh;

	/* justify-content: space-around; */
	/* align-items: baseline; */
}
