*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

/* --------------------------------------------- */
/* BODY */
/* --------------------------------------------- */

body {
	padding: 10px 20px 0px 20px;
	margin: 0;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;
	grid-template-areas:
		"aside header"
		"aside content"
		"aside footer";
	gap: 20px;
	overflow: hidden;
}

/* --------------------------------------------- */
/* HEADER */
/* --------------------------------------------- */

.site-header {
	margin: 10px;
	grid-area: header;
}

.header-nav ul {
	padding-right: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	gap: 60px;
	list-style-type: none;
}

/* --------------------------------------------- */
/* MAIN */
/*---------------------------------------------- */

.content {
	grid-area: content;
}

main {
	overflow-y: auto;
}

/* --------------------------------------------- */
/* ASIDE */
/*---------------------------------------------- */

.profile {
	display: flex;
	flex-direction: column;
	gap: 5px;
	overflow: hidden;
	grid-area: aside;
}

.profile header {
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
	gap: 20px;
	max-height: 10vh;
}

.profile header p::before {
	content: "";
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin-right: 8px;
	background: currentColor;
}

.profile img {
	width: 100%;
	height: auto;
	/* object-fit: contain; */
	object-fit: cover;
	object-position: left top;
	display: block;
}

/* --------------------------------------------- */
/* FOOTER */
/*---------------------------------------------- */

footer {
	grid-area: footer;
}
